# Virtual Environment
backend/venv/

# Python
**/__pycache__/
**/*.pyc
**/*.pyo

# Environment variables
**/.env

# ChromaDB
backend/chroma_db/

# Uploads
backend/uploads/

# Editor
.vscode/

# Frontend
frontend/node_modules/
frontend/studdy-buddy-frontend/dist/